extends ../layout

block content
  .wrapper: .checkout.container: .content
    header
      h1(id="title") Payment
      p(id="hint") Make a payment using credit card
      h1(hidden id="success-result") Payment success

    form#payment-form
      section
        label(for="amount")
          span.input-label Amount
          .input-wrapper.amount-wrapper
            input#amount(name="amount" type="tel" min="1" value="10")

        .bt-drop-in-wrapper
          #bt-dropin

      input#nonce(type="hidden" name="payment_method_nonce")
      button.button(type="submit")
        span Pay

  span(hidden id="client-token")=clientToken

  script(src="https://js.braintreegateway.com/web/dropin/1.20.4/js/dropin.min.js")
  script(type="text/javascript", src="/bt_create_checkout.js")
